<div class="form-container">
  <form action="">
    <div class="input-box">
      <span>Location</span>
      <input type="search" name="" id="" placeholder="Search Places" />
    </div>
    <div class="input-box">
      <span>Pick-Up Date</span>
      <input type="date" name="" id="" />
    </div>
    <div class="input-box">
      <span>Return Date</span>
      <input type="date" name="" id="" />
    </div>
    <input type="submit" name="" id="" class="btn" />
  </form>
</div>
